.Home body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.Home header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.Home header a {
    color: #fff;
    text-align: right;
    padding: 10px 0;
    text-decoration: none;
}
.Home nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}
.Home nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}
.Home main {
    padding: 20px;
}
.Home article {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.Home h2 {
    color: #333;
}