@font-face {
    font-family: mainFont;
    src: url(Tinos-Regular.ttf);
}


@font-face {
    font-family: headerFont;
    src: url(MCKLB___.ttf);
}


.mainPart {
    font-family: mainFont;

}


.Home body {
    font-family: mainFont;
    margin: 0;
    padding: 0;
}

.title {
    font-family: headerFont;
}

.Home header, footer {
    font-family: headerFont;
    background-color: #295363;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

h1 {
    text-decoration: underline;
    font-size: 100px;
}

h3 {
    color:#a2b5f3
}
.Home header a {
    color: #fff;
    text-align: right;
    padding: 10px 0;
    text-decoration: none;
    cursor: url(../iconmonstr-newspaper-4-32.png);
}
.Home nav {
    background-color: #3d6d80;
    padding: 10px 0;
    text-align: center;
}
.Home nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    cursor: url(../iconmonstr-newspaper-4-32.png);
}
.Home main {
    padding: 20px;
}
.Home article {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.top {
    color: #787573;
    font-style: italic;
}

.headA {
    color: #071952;
    font-weight: bold;
}

.category
{
    text-transform: capitalize;
}

body {
    cursor: url(../customcurs.png), auto;
}