@font-face {
  font-family: mainFont;
  src: url(TYPE.ttf);
}


@font-face {
  font-family: headerFont;
  src: url(TYPE.ttf);
}

@media all and (min-width: 480px) {
    .Register {
      padding: 60px 0;
    }
  
    .Register form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

  h1 {
    font-family: mainfont;
    text-align: center;
  }
  
  .title {
    font-family: headerFont;
  }
  
  .page header, footer{
    font-family: headerFont;
    background-color: #295363;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  .page header a {
    color: #fff;
    text-align: right;
    padding: 10px 0;
    text-decoration: none;
  }
  .page nav {
    background-color: #3d6d80;
    padding: 10px 0;
    text-align: center;
  }
  .page nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .Login {
    font-family: mainFont;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .form {
    background-color: lightblue;
    padding: 30px;
    border-radius: 10%;
    border: black solid 1px;
  }
  